<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Visitante</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Bienvenido Visitante</h1>
    <div class="text-center">
        <!-- Aquí puedes agregar enlaces a las acciones del visitante -->
        <a th:href="@{/seleccion_cancha}" class="btn btn-primary">Reservar Cancha</a>
        <a th:href="@{/gestion_reservas_visitante}" class="btn btn-success">Reservas</a>
        <a th:href="@{/login?logout}" class="btn btn-danger">Cerrar sesion</a>
    </div>
</div>

<!-- Enlace a Bootstrap JS y Popper.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>